src/
test/
node_modules/
coverage/
*.spec.ts
*.test.ts
tsconfig.json
tsconfig.build.json
nest-cli.json
.eslintrc*
eslint.config.mjs
.prettierrc*
.gitignore
*.log
.DS_Store
.env
.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local

